
<article class="post-inner">
  <div class="post-content-outer">
    <div class="post-intro">
      <div class="post-title animate__animated  animate__fadeInUp"><%=page.title%></div>
      <div class="meta-intro animate__animated  animate__fadeInUp"><%=full_date(page.date,'MMM DD YYYY') %></div>
      <%if(page.cover){%>
        <div class="post-cover"><span class="lazyload-img-span"><img data-src="<%=page.cover%>" class="post-cover-img"></span></div>
      <%}%>
    </div>
    <div class="post-content-inner">
      <div class="post-content-inner-space">

      </div>
      <div class="post-content-main animate__animated  animate__fadeInUp">
        <!-- top型目录 -->
        <%if(page.toc!==false && theme.toc.enabled === true && toc(page.content).length!==0 && theme.toc.side !== true){%>
          <%- toc(page.content,{class:"toc-top",list_number:false,max_depth: theme.toc.max,min_depth: theme.toc.min}) %>
        <%}%>
        <%-page.content%>
      </div>
      <div class="post-content-inner-space">
        <%if(page.toc!==false && theme.toc.enabled === true && toc(page.content).length!==0 && theme.toc.side === true){%>
          <div class="space-toc-main animate__animated  animate__fadeInUp">
            <%- toc(page.content,{class:"space-toc",list_number:false,max_depth: theme.toc.max,min_depth: theme.toc.min}) %>
           </div>
        <%}%>
      </div>
   </div>
    <!-- 评论 -->
    <% if (page.comments !== false && theme.comments.enabled === true){ %>
      <%- partial('_partial/comment') %>
    <% } %>
  </div>
</article>